<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.ap.mapper.ApInvoiceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="apInvoiceResultMap" type="org.springblade.modules.ap.entity.ApInvoiceEntity">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="ap_id" property="apId"/>
        <result column="ap_code" property="apCode"/>
        <result column="amount" property="amount"/>
        <result column="sup_code" property="supCode"/>
        <result column="sup_name" property="supName"/>
        <result column="invoice_code" property="invoiceCode"/>
        <result column="invoice_date" property="invoiceDate"/>
        <result column="attachment" property="attachment"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="getInvoiceCodeByApId" resultType="java.lang.String">
        SELECT
        group_concat( DISTINCT `invoice_code` ) AS invoiceCodes
        FROM
        `atw_ap_‪invoice`
        WHERE
        <if test="type != null and type != '' and type == 'AP'">
            ap_id = #{id}
        </if>
        <if test="type != null and type != '' and type == 'BI'">
            bill_id = #{id}
        </if>
        and is_deleted = 0
    </select>

    <select id="getLastInvoiceDate" resultType="java.lang.Long">
        SELECT invoice_date
        FROM
        `atw_ap_‪invoice`
        WHERE
        <if test="type != null and type != '' and type == 'AP'">
            ap_id = #{id}
        </if>
        <if test="type != null and type != '' and type == 'BI'">
            bill_id = #{id}
        </if>
        ORDER BY  invoice_date DESC
        Limit 1
    </select>

</mapper>
