<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.mathmodel.mapper.MmHotPriceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="mmHotPriceResultMap" type="org.springblade.modules.mathmodel.entity.MmHotPriceEntity">
        <result column="id" property="id"/>
        <result column="brand" property="brand"/>
        <result column="hot_price" property="hotPrice"/>
        <result column="cut_price" property="cutPrice"/>
        <result column="sup_code" property="supCode"/>
        <result column="sup_name" property="supName"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

</mapper>
