<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.finance.mapper.PrepayOrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="prepayOrderItemResultMap" type="org.springblade.modules.finance.entity.PrepayOrderItemEntity">
        <result column="id" property="id"/>
        <result column="prepay_id" property="prepayId"/>
        <result column="prepay_code" property="prepayCode"/>
        <result column="prepay_code_u9" property="prepayCodeU9"/>
        <result column="prepay_ln" property="prepayLn"/>
        <result column="po_id" property="poId"/>
        <result column="po_code" property="poCode"/>
        <result column="is_po_first" property="isPoFirst"/>
        <result column="subtotal" property="subtotal"/>
        <result column="prepay_rate" property="prepayRate"/>
        <result column="remark" property="remark"/>
        <result column="u9_status_code" property="u9StatusCode"/>
        <result column="u9_status" property="u9Status"/>
        <result column="last_sync_time" property="lastSyncTime"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="sys_datagram" property="sysDatagram"/>
        <result column="sys_log" property="sysLog"/>
    </resultMap>

    <select id="getPoCodesByPayId" resultType="java.lang.String">
        SELECT
	    group_concat( DISTINCT `po_code` ) AS poCodes
        FROM
	    atw_prepay_order_item
        WHERE
	    prepay_id = #{prepayId}
    </select>


</mapper>
